a:hover {
    text-decoration: none;
    color: #0047ab;
}

#mainname {
    margin-left: 10px;
    text-align: center;
    display:inline-block;
    color: #0047ab;
}

#rightbutton {
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    display:inline-block;
    color: #828282;
}

.othertopbuttons {
    padding: 10px;
    text-align: center;
    display:inline-block;
    color: #828282;
}

#selfimage {
    max-height: 33%;
    max-width: 33%;
    border-radius: 50%;
    margin-left: 10px;
    padding: 10px;
}

.leftimage {
    width: 50%;
    height: 50%;
}

.rightimage {
    width: 50%;
    height: 50%;
}

.title {
    text-align: center;
}

#appearance {
    display: block; 
    text-align: center;
}

#setup {
    text-align: center;
}

#resume {
    text-align: center;
}

ul {
    list-style-type: circle;
}

#courses {
    columns: 2;
    width: 75%;
}

#bodytext {
    margin-left: 10px;
}

.firstlevel {
    list-style-type: circle;
    display: block;
    font-size: 1.17em;
    width: 75%;
}

.secondlevel {
    list-style-type: square;
    display: block;
    font-size: 1em;
    width: 75%;
}

.thirdlevel {
    list-style-type: circle;
    display: block;
    font-size: .83em;
    width: 75%;
}

#sports {
    columns: 3;
    width: 75%;
}